<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nam ac viverra enim, eget accumsan mi. Nullam quis elit nec nisl mattis tempus. 
                Ut mauris massa, euismod eu molestie vitae, facilisis et mi. Quisque vel magna nec orci placerat 
                dictum eget ut ante. Morbi pellentesque lacus non lectus facilisis vulputate. 
                Nunc auctor suscipit leo, et vehicula nisl iaculis a. Etiam vitae ultricies magna, id auctor urna.
            </p>
        </div>
    </div>
</div>